{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Ruby Class {% endblock %}</title>
</head>
<body>
<header>
    <h1>Ruby Class</h1>
    <nav>
        <ul>
            <li><a href="{% url 'my_home' %}">Home</a></li>
            <li><a href="{% url 'my_about' %}">About</a></li>
            <li><a href="{% url 'my_blog' %}">Blog</a></li>
            <li><a href="{% url 'my_contact' %}">Contact</a></li>
            <li><a href="{% url 'my_services' %}">Services</a></li>
        </ul>
    </nav>
</header>

<main>
    {% block content %}
    <!-- page specific content to go here -->

    {% endblock %}
</main>

<footer>
    <p>&copy; 2024 Ruby Class</p>
</footer>
    
    
</body>
</html>