{% extends 'base.html' %}

{% block title %} Blog - Ruby {% endblock %}

{% block content %} 
<p>Welcome to Blog Page</p>
<p><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore deleniti omnis, nam rem vitae aliquid a maiores similique consequatur laborum. Reiciendis quae aliquid perspiciatis facilis blanditiis. Fugiat recusandae aliquam non.
Atque illo eum esse dolores, consequuntur illum voluptatum voluptatibus quasi architecto ipsam ratione quis rerum tempore blanditiis! Saepe, harum fugiat facilis, earum odio exercitationem in illum pariatur quibusdam odit magni.
Commodi deserunt consequatur ipsam laborum vel, doloremque ducimus iste consectetur nesciunt culpa temporibus quibusdam. Odio eius, debitis cum numquam ad, blanditiis aut reprehenderit qui dolorem eligendi voluptatem ab reiciendis quibusdam.</span></p>


{% endblock %}