{% extends 'base.html' %}

{% block title %} Contact Us - Ruby {% endblock %}

{% block content %} 
<p>Welcome to Contact Us Page</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint modi libero quis molestias nulla incidunt esse qui itaque ab, aut odio voluptas provident quia quisquam recusandae ipsum blanditiis et corrupti!
Rem exercitationem hic cum animi pariatur modi distinctio cumque ratione ab doloribus aut, temporibus repellendus a beatae vitae magnam adipisci illum velit. Provident magnam laborum reprehenderit maiores illum labore soluta.</p>

{% endblock %}