{% extends 'base.html' %}

{% block title %} Home - Ruby {% endblock %}

{% block content %} 
<p>Welcome to Home Page</p>
<p><span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Sit minima, hic inventore rerum iste aperiam temporibus, officia quibusdam excepturi voluptatum eius sed vero dignissimos natus. Porro veniam at architecto quisquam.</span></p>
<p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quidem expedita quam quos sequi, itaque repudiandae architecto aut, laboriosam reiciendis ipsam! Rerum eligendi quasi repellat aut excepturi numquam corrupti molestiae?
Nobis quos odit facilis at, ipsam maxime incidunt vel ad perspiciatis deserunt placeat distinctio nemo fuga in dolore molestiae perferendis amet dolorum error voluptatem repellat labore. Sed fugiat quidem inventore?</span></p>
<p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum laboriosam ipsa esse, temporibus vero itaque at eaque illum, natus nisi nobis magni, repellat numquam eius! Odio totam quae ullam earum.
Deserunt officiis, quas voluptatibus cumque neque quod eum quo officia dignissimos ad laboriosam quos, ut, ipsa qui quis cupiditate a eos odio. Cumque debitis, iusto nisi esse rem maiores obcaecati?
Quos ducimus a illo perspiciatis est labore provident eligendi asperiores explicabo aliquam necessitatibus voluptatem rerum voluptatibus, aspernatur minus sapiente. Debitis sint numquam illo accusamus, consequuntur exercitationem labore eum dignissimos cupiditate!</span></p>

{% endblock %}